<title>DOWNLOAD ĐIỂM THI VÀO LỚP 10 - TỈNH BẮC GIANG 2020</title>
<link rel="stylesheet" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <h2>DOWNLOAD ĐIỂM THI VÀO LỚP 10 2020 TỈNH BẮC GIANG</h2>
    <h5>DS CÁC TRƯỜNG UPDATE TẠI ĐÂY</h5>
    <form action="" method="post" role="form">
        {{form.csrf}}
        <div class="form-group">
            <label for="name">Mã Trường:</label>
            <input type="text" class="form-control" id="name" name="matruong" placeholder="Ví dụ: THPT TY1 thì nhập 170"></div>
        <label for="name">Số Thí Sinh:</label>
        <input type="int" class="form-control" id="name" name="sothisinh" placeholder="Có tất cả bao nhiêu thí sinh dự thi?">
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message[1] %}
                <div class="alert alert-info">
                    <strong><a href="/download/{{ message[1]}}">DOWNLOAD HERE</a></strong>
                </div>
            {% endif %}

            {% if "Error" in message[1] %}
                <div class="alert alert-warning"> {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

</div>